:root {
    --sm: 0.6rem; /* small */
    --md: 1rem; /* medium */
    --lg: 1.5rem; /* large */
    --white: #FFFFFF;
    --black: #0c0c0c;
    --foot: #141414;
    --bkg: rgb(12, 12, 12);
    --grey: grey;
    --border: 1px solid rgb(255,255,255, 0.1);
    --button: rgba(204, 0, 0, 0.6);
    }

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
    }

body {
    background-color: var(--bkg);
    }

nav {
    position: fixed;
    top: 0;
    display: flex;
    width: 100vw;
    min-width: 1030px;
    height: 40px;
    justify-content: space-between;
    padding: 12px 30px;
    align-items: center;
    border-bottom: var(--border);
    background-color: rgba(0, 0, 0, 0.6);
    background: linear-gradient(var(--black), rgb(0,0,0, 0.6));
    /* box-shadow: 0px 5px 10px rgb(0,0,0,0.7); */
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(8px);
    z-index: 10;
    }
    nav h2 {
        text-wrap: nowrap;
        font-size: var(--md);
        color: var(--button);
        }
    nav ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-evenly;
        padding: 0 40px;
        font-size: var(--md);
        }
        nav ul li {
            display: flex;
            width: 120px;
            height: 40px;
            justify-content: center;
            align-items: center;
            text-wrap: nowrap;
            }
        nav ul li a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            width: 100%;
            text-align: center;
            }
            nav ul li:hover {
                color: white;
                border-bottom: 6px solid brown;
                padding-top: 6px;
                }

    nav input {
        width: 150px;
        border: var(--border);
        padding: 5px;
        padding-left: 24px;
        border-radius: 6px;
        background-color: rgb(0,0,0,0);
        }
    nav svg {
        /* fill: white; */
        /* color: #9b9b9b; */
        position: absolute;
        right: 160px;
        opacity: 0.6;
        }

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 70px;
    /* margin-top: -40px; */
    }
    #main-movies--container {
        display: flex;
        width: 100vw;
        height: 500px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        }
    #main-movies--container::-webkit-scrollbar {
        display: none;
    }
    #main-movies--container article {
        display: flex;
        justify-content: center;
        min-width: 100vw;
        scroll-snap-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        .main-movie {
            display: flex;
            flex-direction: column;
            min-width: 100vw;
            height: 500px;
            gap: 10px;
            justify-content: end;
            padding: 0px 15% 50px;

            background: linear-gradient(rgb(0,0,0,0.0), rgb(0,0,0,.6));
            }
        .main-movie div, .main-movie h2, .main-movie p {
            width: 400px;
            z-index: 10;
            }
        .main-movie-buttons {
            display: flex;
            gap: 15px;
            }
        .main-movie button {
            display: flex;
            align-items: center;
            gap: 5px;
            height: 25px;
            padding: 0 20px;
            font-size: var(--sm);
            border-radius: 4px;
            border: none;
            }
            button img {
                width: 12px;
                }
                .main-movie-trailer {
                    background-color: var(--button);
                    -webkit-backdrop-filter: blur(6px);
                    backdrop-filter: blur(6px);
                    }
                .main-movie-details {
                    background-color: rgba(56, 56, 56, 0.7);
                    -webkit-backdrop-filter: blur(6px);
                    backdrop-filter: blur(6px);              
                    }

    #dots--container {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 480px;
        height: 10px;
        width: 100%;
        justify-content: center;
        gap: 5px;
        }
        #dots--container div {
            display: flex;
            height: 8px;
            width: 8px;
            background-color: rgb(128,128,128, 0.3);
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);  
            border-radius: 50px;
            }
    
    section {
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: center;
        justify-self: center;
        gap: 20px;
        flex-shrink: 0; /* Evitar que los artículos se ajusten */
        }
        section .section-title {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            }
            .section-title button {
                padding: 6px;
                border-radius: 6px;
                border: none;
                background-color: var(--button);
                }
        section .hscroll-generic {
            display: flex;
            overflow-y: auto;
            gap: 10px;
            scroll-snap-type: x mandatory;
            padding-bottom: 10PX;
            }
            section .hscroll-generic article {
                display: flex;
                flex-direction: column;
                font-size: var(--sm);
                gap: 5px;
                scroll-snap-align: center;
                }
                section .hscroll-generic img {
                    width: 100px;
                    height: 150px;
                    }
            .hscroll-generic::-webkit-scrollbar {
                width: 100VW;
                height: 4px;
                border-radius: 6px;
                background-color: rgb(12,12,12);
                }
            .hscroll-generic::-webkit-scrollbar-thumb {
                background-color: rgb(80, 80, 80);
                border-radius: 6px;
                width: 1vw;
                }
    #pv-categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        #pv-categories #categories--container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-size: var(--sm);
            gap: 10px;
            }
            #categories--container a {
                display: flex;
                align-items: center;
                padding: 5px 10px;
                background-color: rgb(87, 87, 87, 0.6);
                border-radius: 4px;
                }
    #pv-trending {
        padding-top: 50px;
        margin-top: -80px;

    }
    #pv-categories, #pv-populares {
        padding-top: 10px;
        padding-bottom: 10px;
    }

footer {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    border-top: var(--border);
    font-size: var(--sm);
}



#navigation--container {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    align-items: center;
    /* justify-content: space-around; */
    background-color: rgb(12, 12, 12, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 100;
    }
    #navigation--container #navigation-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70vw;
        margin-bottom: auto;
        padding-top: 80px;
        }
            #navigation-header h1 {
                font-size: 5rem;
                }
            #navigation-header img {
                height: 26px;
                }
        #navigation-main {
            display: flex;
            width: 80vw;
            justify-content: center;
            align-items: center;
            }
            #navigation-content {
                display: flex;
                width: 70vw;
                flex-wrap: wrap;
                justify-content: center;
                gap: 10px;
                }
                #navigation-content article {
                    display: flex;
                    flex-direction: column;
                    width: 150px;
                    gap: 5px;
                    }
            #navigation-pages {
                display: flex;
                gap: 8px;
                margin-top: auto;
                padding-bottom: 80px;
                }
                #pages::-webkit-scrollbar {
                    display: none;
                    }
            #navigation-main button {
                background-color: rgb(255,255,255,0.1);
                border: none;
                padding: 0 10px;
                border-radius: 4px;
                height: 50px;
                }
                #back, #forward {
                    font-size: 2rem;
                    }
            #pages {
                display: flex;
                width: 68vw;
                gap: 8px;
                overflow-x: auto ;
                align-items: center;
                }

            


a, button:hover {
    cursor: pointer;
}